<div class="row">
	<div class="col-lg-12">
		<h1>This is what we know about Coinbase</h1>
		<div id="chart"></div>
		<h3><a href="#data" onclick="show_table()" id="show">Show Data Table</a></h3>
		<table class="table table-striped" id="data" style="display:none;">
			<thead>
				<tr>
					<th>ID</th>
					<th>Rate</th>
					<th>Timestamp</th>
				</tr>
			</thead>
			<tbody>
				<% @prices.each do |price|%>
				   	<tr>
				      <td><%= price.id %></td>     
				      <td><%= number_to_currency(price.rate) %></td>
				      <td><%= price.created_at %></td>
				   </tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<script>
$(document).ready(function() {
    $('#chart').highcharts({
        title: {
            text: 'Coinbase Buy Rates'
        },
        subtitle: {
            text: 'Source: Coinbase.com'
        },
        series: [{
            name: 'Coinbase',
            data: [<%= @data_price %>]
        }]
    });
});
function show_table()
{	
	$("#data").slideDown();
	$("#show").hide();
}
</script>