<div class="row">
	<div class="span12">
		<div class="jumbotron">
	    <h1>Welcome to BTC Alerts</h1>
	    <p>
	    	Create, Manage, View Bitcoin prices from various exchanges.
	    </p>
	    <p>
	     <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#moreInfo">Learn More</a>
	   </p>
  </div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		Awesome Feature 1
	</div>
	<div class="col-lg-4">
		Awesome Feature 2
	</div>
	<div class="col-lg-4">
		Awesome Feature 3
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Coming Soon!</h4>
      </div>
      <div class="modal-body">
        This will be updated shortly to create a launch notification email. 
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->